@font-face {
  font-family: main;
  src: url("https://fonts.googleapis.com/css?family=Cormorant");
}

:root {
  --main-bg-color: #F3A42D;
  --secondary-bg-color: #EDE2D2;
  --accent-color: #7C7C7C;
}

.App {
  height: 100vh;
  font-family: main;
  text-align: center;
  background: var(--main-bg-color) url("../src/components/assets/images/bartender.png") 100% 100% no-repeat;
}

button {
  font-family: main;
}

form {
  background-color: var(--secondary-bg-color);
  width: 30%;
  border-radius:30%;
  border: black solid 2px;
  margin-left: 10%;
  margin-top: 10%;
  padding: 2%;
}

a {
  font-family: main;
  text-decoration: none;
  color: black;
}

@media (max-width: 550px) {
  .App {
  background-color: var(--secondary-bg-color);
  }

  form {
    width: 50%;
    opacity: .9;
    margin: 5% auto;
  }
}





