.bartender-screen-container {
  background: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.bar-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* padding: 5%; */
  margin: 0 auto;
  justify-content: space-evenly;

}

.bartender {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30%;
  width: 30%;
  margin: 1% auto;
}

.bartender-image {
  border-radius: 20%;
}

@media (max-width: 892px) {
  .bartender{
  width: 30%;
  }
}

@media (max-width: 550px) {
  .bartender{
    width: 70%;
  }
}